@{

    ViewData["Title"] = "Search Product";
    if (ViewBag.ProductId != null)
    {
        Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    }
}

<h1>Search Products</h1>
<p>Search Products details here</p>

