@using ViewExample.Models

@{
    string titleName = "AspNet Core C# blocks and Expressions";
    Person person = new Person()
            {
                Name = "Samuel",
                // DOB = Convert.ToDateTime("2000-07-02")
                DOB = null
            };
}

<!DOCTYPE html>
<html>
<head>
    <title>@titleName</title>
    <meta charset="utf-8" />
</head>

<body>
    <h2>Welcome</h2>
    <p>Halo! @person.Name</p>
    @if (person.DOB.HasValue)
    {
        double age = Math.Round((DateTime.Now - person.DOB.Value).TotalDays / 365.25);
        <p>You are @age years old</p>
    }
    else
    {
        <p>DOB is not supplied.</p>
    }
</body>
</html>
