@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Home</h1>
    @* @Html.Partial("_ListPartialView"); *@
    <div class="box" asp-fo>
        <partial name="~/Views/Shared/_ListPartialView.cshtml"></partial>
    </div>
</body>
</html>